{% extends 'movieApp/base.html' %}

{%block body %}
<h1>About Me</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque esse exercitationem facere ipsam labore neque nihil vero? Aliquid aperiam doloremque ex expedita illo modi nobis perspiciatis quasi quo veritatis.</span>
    <span>A architecto aspernatur assumenda aut debitis delectus deleniti distinctio dolorem eos fuga itaque laudantium molestiae mollitia nam neque odio officia, pariatur placeat qui reprehenderit sequi soluta suscipit totam unde veritatis!</span>
</p>

{% endblock %}